:root {
    --color1 : #212121;
    --color2 : #fff;
    --color3 : #ff9900;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

main {
    padding: 25px 100px 15px;
    align-items: flex-start !important;
}

.container {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

p, h1, h2 {
    padding: 7px 5px;
}

/* ********************* */

header {
    height: 80px;
    width: 100vw;
    background-color: #232323;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.nav ul li a, .nav ul li button a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
/* .nav ul li button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #b4b4b4;
    color: #232323;
    
} */

.nav ul li a:hover {
    color: #eaf56d;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: var(--color2);
}

/* ********************* */
/* ********************* */

footer {
    background-color: #232323;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
footer .medias {
    padding: 10px 30px;
}

footer .medias .media {
    padding: 5px 15px;
}

footer .medias .media a i {
    font-size: 25px;
}

.copyright {
    width: 100%;
    text-align: center;
    color: var(--color2);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
    padding: 10px 30px;
}
.copyright span {
    color: red;
}

/* ********************* */
/* ********************* */

.all-posts {
    width: 75%;
    margin: 0 5px;
    padding: 10px;
}
.post {
    margin: 7px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -5px var(--color1);
    padding: 5px;
    /* min-height: 230px; */
}
.post .post-content {
    width: 60%;
    padding: 10px;
}
.post .post-content .post-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.post .post-content .post-title a{
    color: var(--color1);
}
.post .post-content .post-info {
    font-size: 12px;
    font-weight: 300;
    color: var(--color3);
}
.post .post-content .overview{
    font-size: 14px;
    font-weight: 400;
    color: var(--color1);
}
.post .thumbnail {
    width: 40%;
}
.post .thumbnail img{
    width: 100%;
}

.aside {
    width: 25%;
    padding: 10px;
    margin: 0 5px;
}
.aside .ad-bar{
    width: 100%;
    height: 500px;
    background-color: #b4b4b4;
}

/* ********************* */
/* ********************* */

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--color2) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #dc7777;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


.search-form input{
    padding: 7px 12px;
}
.search-form button{
    padding: 5px 10px;
}