{% extends 'base.html' %}
{% load static %}

{% block title %} About Blog {% endblock title %}


{% block links %}
    <!-- <link rel="stylesheet" href="{% static 'css/css-reset.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/myCss-fm.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock links %}


{% block content %}

{% include 'header.html' %}

<main class="flex-ctr-clm">
    <section class="about">
        <h2>About Id-Kh Blog</h2>
        <p>This Blog is a personel Blog project, build in django.</p>
        <p>Project link <a href="https://github.com/drisskhattabi6/Django-Blog-Project" target="_blank" rel="Blog project">from Here</a>.</p>
    </section>
    <hr>
    <section class="about">
        <h2>About Developer</h2>
        <p>Idriss Khattabi - I'm an AI and Data Sciences Master's student | Python Django Developer</p>
    </section>
    <hr>
    <section id="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or inquiries, please don't hesitate to reach out:</p>
        <p>Email: <a href="mailto:drisskhattabi6@gmail.com">drisskhattabi6@gmail.com</a></p>
    </section>
</main>

{% include 'footer.html' %}

{% endblock content %}


{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock scripts %}

