<footer>
    <div class="container flex-ctr-clm">
        <div class="medias flex-center">
            <div class="media flex-center">
                <a href="https://github.com/drisskhattabi6" target="_blank" class="github"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="media flex-center">
                <a href="https://www.linkedin.com/in/idriss-khattabi-b3a266235/" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="media flex-center">
                <a href="https://www.instagram.com/idriss_khattabi/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <!-- <div class="media flex-center">
                <a href="https://www.pinterest.com/drisskhattabi6/" target="_blank" class="pinterest"><i class="fa-brands fa-pinterest"></i></a>
            </div> -->
        </div>
        <hr style="width: 50%; color: orange;">
        <p class="copyright">
            Copyrights &copy; reserved by the creator, 
            Made with love <span>❤</span> by Idriss Khattabi.
        </p>
    </div>
</footer>